@page "/SampleData"
@inject ICategoryData categoryData
@inject IStatusData statusData
@inject IUserData userData
@inject ISuggestionData suggestionData

<h3>SampleData</h3>

@if (areCategoriesCreated)
{
    <h3>Categories have been created</h3>
}
else
{
    <button class="btn btn-primary" @onclick="CreateCategories">Create Categories</button>
}

@if (areStatusesCreated)
{
    <h3>Statuses have been created</h3>
}
else
{
    <button class="btn btn-primary" @onclick="CreateStatuses">Create Statuses</button>
}

<button class="btn btn-danger" @onclick="GenerateSampleData">Generate Sample Data</button>

@code {
    private bool areCategoriesCreated = false;
    private bool areStatusesCreated = false;

    private async Task GenerateSampleData()
    {
        User user = new()
            {
                FirstName = "Luky",
                LastName = "Vyky",
                EmailAddress = "burger@epic.com",
                DisplayName = "Proge",
                ObjectIdentifier = "abc-123"
            };
        await userData.CreateUser(user);

        var foundUser = await userData.GetUserFromAuthentication("abc-123");

        var categories = await categoryData.GetCategories();
        var statuses = await statusData.GetStatuses();

        Suggestion suggestion = new()
            {
                Author = new BasicUser(foundUser),
                Category = categories.FirstOrDefault(),
                SuggestionContent = "Test suggestion",
                Description = "Test description of a suggestion"
            };
        await suggestionData.CreateSuggestion(suggestion);

        suggestion = new()
            {
                Author = new BasicUser(foundUser),
                Category = categories.Skip(1).FirstOrDefault(),
                SuggestionContent = "Second test suggestion",
                Description = "Test description of a suggestion",
                Status = statuses.FirstOrDefault(),
                UserVotes = new() { "1", "2", "3", "4"},
                AdminNotes = "Admin status note"
            };
        await suggestionData.CreateSuggestion(suggestion);

        suggestion = new()
            {
                Author = new BasicUser(foundUser),
                Category = categories.Skip(2).FirstOrDefault(),
                SuggestionContent = "Third test suggestion",
                Description = "Test description of a suggestion",
                Status = statuses.Skip(1).FirstOrDefault(),
                AdminNotes = "Admin status note",
                UserVotes = new() { "1", "2", "3"}
            };
            await suggestionData.CreateSuggestion(suggestion);
    }

    private async Task CreateCategories()
    {
        var categories = await categoryData.GetCategories();

        if (categories?.Count > 0)
        {
            areCategoriesCreated = true;
            return;
        }

        Category category = new()
            {
                Name = "Courses",
                Description = "Typical courses"
            };
        await categoryData.CreateCategory(category);

        category = new()
            {
                Name = "Mentors",
                Description = "Tips for mentors"
            };
        await categoryData.CreateCategory(category);

        category = new()
            {
                Name = "Backoffice",
                Description = "Tips for backoffice"
            };
        await categoryData.CreateCategory(category);

        category = new()
            {
                Name = "Other",
                Description = "Here goes everything else"
            };
        await categoryData.CreateCategory(category);
        areCategoriesCreated = true;
    }

    private async Task CreateStatuses()
    {
        var statuses = await statusData.GetStatuses();

        if (statuses?.Count > 0)
        {
            areStatusesCreated = true;
            return;
        }

        Status stat = new()
            {
                Name = "Completed",
                Description = "The suggestion was accepted."
            };
            await statusData.CreateStatus(stat);

            stat = new()
            {
                Name = "Watching",
                Description = "The suggestion is interesting...."
            };
            await statusData.CreateStatus(stat);

            stat = new()
            {
                Name = "Upcoming",
                Description = "The suggestion was accepted and you will see the change soon."
            };
            await statusData.CreateStatus(stat);

            stat = new()
            {
                Name = "Dismissed",
                Description = "Ain`t gonna happen."
            };
            await statusData.CreateStatus(stat);
            areStatusesCreated = true;
    }
}
